body{
  font-family: 'Figtree', sans-serif;
  background-color: rgb(243, 238, 195);
  color: rgb(42, 61, 69);
  margin-left: 160px;

}
h1{
  background-color: rgb(192, 132, 151);
  color: rgb(42, 61, 69); 
  font-size: 5vw;
  padding: 30px;
  text-align: center;
  text-anchor: middle;
 }

img{
float:inherit;
height: 20%;
width: 20%;
object-fit: contain;
}

nav{
  height: 100%;
  width: 160px;
  position:fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(176, 208, 211);
  overflow-x: hidden;
  padding-top: 100px;
  border-radius: 10;
  text-anchor: middle;
  text-align: center;

  }
h2{
  font-size: 4vh;
  color: rgb(192, 132, 151);
  /* text-anchor:start; */
  text-align:left;
  margin-top:15px;
  margin-bottom:15px;
}
section{
  
  font-size: 3vh; 
  text-align:left;
  padding: 50px;
  margin: 25px;
  border-radius: 25px;
  width: auto;
  height:auto;
  background-color:rgb(247, 227, 175);

}
footer{
  margin-left:inherit;
  text-align: center;
  color:rgb(42, 61, 69);
}
ol li{
  align-content: flex-start;
  list-style:decimal;
  border-left: 20px;
  border-top: 20px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: justify;
}
ol li::marker {
  color:rgb(227, 133, 79);
  font-weight:lighter;
  
}

ul {
  align-content: flex-start;
  list-style:decimal;
  border-left: 20px;
  border-top: 20px;
  margin-top:15px;
  margin-bottom:15px;;
  margin-left: 20px;
  text-align: justify;
  list-style: disc;
 
}
ul li::marker{
  color:rgb(227, 133, 79);
}

h3{
  color:rgb(192, 132, 151);
  margin-top: 20px;
  border-left: 20px;
  border-top:20px;
}

#jspic{
 width:20px;
 margin-top: 5px;
 border:5 px;
}
.favlinks{
  text-align: center;
  list-style: none;
}
#linkheader{
  text-align: center;
  color:rgb(192, 132, 151);
  margin-top:15px;
  margin-bottom:15px;
}
a{
  margin: 20px;;
  border: 20px;
  text-decoration:underline;
  text-decoration-color:rgb(227, 133, 79);
}
/* div{
  position: fixed;
} */